@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.map-div {
    height: 3rem;
    width: 3rem;
    margin: 0 auto;
    @include tablet {
        min-height: 20rem;
        padding-top: 1rem;
    }
    @include desktop {
        min-height: 30rem;
        padding-top: 2rem;
    }
}

