@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.map-div {
    height: 3rem;
    width: 3rem;
    @include tablet {
        min-height: 20rem;
    }
    @include desktop {
        max-width: 30rem;
        min-height: 30rem;
    }
}

