@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.map-div {
    height: 4.5rem;
    width: 100%;
    @include tablet {
        min-height: 16rem;
        width: 34rem;
    }
    @include desktop {
        max-width: 30rem;
        min-height: 30rem;
    }
}

