@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.home-reviews {
	background-color: white;
	border-radius: 50px;
	box-shadow: $box-shadow;
	padding: 1rem;
	min-width: 8rem;
	height: 9rem;
	margin: 0.2rem 0rem 1rem 1rem;
	@include tablet {
		margin: 0.2rem 0 0 1rem;
		padding: 1.5rem;
		min-width: 10rem;
		height: 11.5rem;
	}
	@include desktop {
		padding: 2rem;
		min-width: 13rem;
		height: 15rem;
	}

	&__name {
		font-size: 0.7rem;
		margin-bottom: 0.5rem;
		@include tablet {
			font-size: 0.8rem;
		}
	}

	&__address {
		color: $davys-gray;
		font-size: 0.4rem;
		@include tablet {
			font-size: 0.45rem;
		}
		@include desktop {
			font-size: 0.6rem;
		}
	}

	&__location {
		margin-bottom: 0.5rem;
	}

	&__content {
		font-size: 0.5rem;
		@include tablet {
			margin-top: 0.5rem;
			font-size: 0.7rem;
		}
		@include desktop {
			font-size: 1rem;
		}
	}
}
