@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.location-map-div {
    height: 20rem;
    @include tablet {
        width: 100%;
    }
    @include desktop {
        height: 35rem;
        min-width: 37rem;
    }
}