@use './variables' as *;
@use './mixins' as *;

.link {
    text-decoration: none;
    color: black;
}

.button {
    background-color: $cambridge-blue;
    color: white;
    font-weight: 600;
    border: 0;
    border-radius: 20px;
    padding: 0.6rem 1rem;
    width: 50%;
    cursor: pointer;
    @include tablet {
        width: auto;
    }
    &:hover {
        background-color: $green;
    }
    &--login {
        background-color: white;
        color: black;
        &:hover {
            background-color: white;
            text-decoration: underline;
        }
    }
}

.star {
    cursor: pointer;
    width: 1rem;
    &-input {
        display:none;
    }
}