@use './mixins' as *;
@use './variables' as *;

body {
    font-family: 'Ubuntu', 'Avenir';
}

@font-face {
    font-family: 'Ubuntu';
    src: url("../../assets/fonts/Ubuntu-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("../../assets/fonts/Ubuntu-Regular.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("../../assets/fonts/Ubuntu-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Courgette';
    src: url("../../assets/fonts/courgette-regular-webfont.woff2") format('woff2');
    src: url("../../assets/fonts/courgette-regular-webfont.woff") format('woff');
}

h1 {
    // font-family: "Courgette";
    // font-weight: 600;
}

h2 {
}

h3 {
}

p {

}