$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Colour Palette
$alabaster: #f1f2ebff;
$timberwolf: #d8dad3ff;
$cambridge-blue: #a4c2a5ff;
$ebony: #566246ff;
$davys-gray: #4a4a48ff;

$dark-green: #254336;
$green: #6B8A7A;
$cambridge-blue: #a4c2a5ff;
$light-green: #B7B597;
$beige: #DAD3BE;

$blue: #1bc2f8;
$light-blue: #ace7fb;