$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//colour palette
$blue: #1bc2f8;
$light-blue: #ace7fb;
$davys-gray: #4a4a48ff;
$beige: #DAD3BE;

//box shadow
$box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;