@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.rating {
	&-text {
		margin-right: 1.6rem;
		@include tablet {
			margin-right: 7rem;
		}
		@include desktop {
			margin-right: 22.5rem;
		}
	}
}
