@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.location {
    @include flex(row, null, center);
    width: 100%;
    padding: 1rem;
    border-radius: 0.25rem;
    height: 2rem;
    cursor: pointer;
    &:hover {
        background-color: $beige;
    }
    @include tablet {
        height: auto;
    }

    &__name {
        font-size: 0.8rem;
    }
    &__city {
        font-size: 0.7rem;
        color: $davys-gray;
        margin-left: 0.5rem;
    }
}