@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.location-list {
	padding: 1rem;
    width: 100%;
    display: flex;
    overflow-x: scroll;
	background-color: #fbfcfe;
	max-width: 320px;
	margin: 0 auto;
	@include tablet {
        flex-wrap: wrap;
        padding: 2rem 1rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
		max-width: 768px;
	}
	@include desktop {
		padding: 1rem;
		max-width: 1280px;
	}
	&__button {
		display: none;
		padding: 0.5rem 4rem;
		margin: 0 auto;
		@include tablet {
			display: flex;
			align-items: center;
		}
	}
}
