@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.reviews-section {
	background-color: #fbfcfe;
	width: 320px;
	margin: 0 auto;
	@include flex(column, flex-start, center);
	@include tablet {
		width: 768px;
		padding: 1rem 2rem;
		flex-direction: row;
	}
	@include desktop {
		padding: 3rem 6rem;
		width: 1280px;
	}
	&__left {
		padding: 1rem;
		width: 100%;
		@include flex(column, flex-start, center);
		@include tablet {
			padding: 0;
			width: 30%;
			align-items: flex-start;
		}
	}
	&__header {
		margin-bottom: 0.5rem;
		font-size: 1.2rem;
		@include tablet {
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}
		@include desktop {
			margin-bottom: 2rem;
		}
	}
	&__description {
		font-size: 0.6rem;
		line-height: 1.1rem;
		width: 14rem;
		@include tablet {
			font-size: 0.8rem;
			line-height: 1.2rem;
			width: auto;
		}
		@include desktop {
			line-height: 1.6rem;
			font-size: 1rem;
		}
	}
	&__right {
		display: flex;
		overflow-x: scroll;
		width: 100%;
		@include tablet {
			width: 30rem;
			display: flex;
			height: 12rem;
		}
		@include desktop {
			width: 44rem;
			height: 16rem;
			margin-left: auto;
		}
	}
}
