@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.location-washrooms {
	cursor: pointer;
	padding: 1rem;
	border-radius: 10px;
	margin-bottom: 0.4rem;
	background-color: white;
	box-shadow: $box-shadow;
	display: flex;
	justify-content: space-between;
	&:hover {
		transform: scale(1.02);
	}
	@include tablet {
		min-width: 37rem;
	}

	&__toilet {
		height: 100%;
		width: 6rem;
		color: $davys-gray;
	}
	&__rating {
		display: flex;
		align-items: center;
	}
	&__average {
		font-size: 0.7rem;
		@include tablet {
			font-size: 1rem;
		}
	}
	&__address {
		font-size: 0.8rem;
		margin: 0.5rem 0;
		color: $davys-gray;
	}
	&__length {
		font-size: 0.8rem;
		@include tablet {
			font-size: 1rem;
		}
	}
}
