@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.hero {
	height: 13rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	max-width: 1280px;

	@include tablet {
		height: 30rem;
	}
	@include desktop {
		height: 50rem;
	}

	&__overlay {
		width: 80%;
		margin: 0 auto;
		@include flex(column, center, center);
		gap: 1rem;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		@include desktop {
			padding: 10rem 6rem 0 6rem;
			@include flex(row, center, flex-start);
		}
	}
	&__header {
		margin-bottom: 1rem;
		font-weight: 600;
		font-size: 0.9rem;
		@include tablet {
			font-size: 2rem;
		}
	}

	&__search {
		width: 16rem;
		padding: 1rem;
		border-radius: 10px;
		background-color: white;
		z-index: 2;
		margin: 0.5rem auto 0 auto;
		@include tablet {
			width:36.5rem;
			margin: 0;
			padding: 2rem;
			box-shadow: $box-shadow;
		}
	}
}
