@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
    @include flex(column, null, center);
    padding: 1rem;
    gap: 1rem;
    max-width: 1280px;
    @include tablet {
        @include flex(row, space-between, center);
    }

    &__washroom {
        color: $green;
    }

    &__right {
        width: 100%;
        @include tablet {
            width: auto;
        }
    }
}