@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.text-right {
	@include tablet {
		text-align: right;
	}
}

.about {
	width: 100%;
	padding: 1rem;
	margin: 0 auto;
	mix-blend-mode: multiply;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1000px;
	@include tablet {
        padding: 2rem 1rem;
		width: 90%;
	}
    @include desktop {
        width: 70%;
    }
	&__header {
		font-size: 3rem;
	}
	&__sections {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		@include tablet {
			flex-direction: row;
		}
	}
	&__img {
		width: 15rem;
		@include tablet {
			width: 20rem;
		}
	}
	&__text {
        width: 18rem;
        display: flex;
        flex-direction: column;
        align-items: center;
		@include tablet {
			width: 50%;
		}
	}
	&__headers {
		margin-bottom: 1rem;
        font-size: 1rem;
		@include tablet {
			font-size: 1.4rem;
		}
	}
	&__description {
        font-size: 0.8rem;
        line-height: 1.2rem;
        @include tablet {
		line-height: 1.8rem;
			font-size: 1rem;
		}
	}
}

.mobile {
    @include tablet {
        display: none;
    }
}

.tablet {
    display: none;
    @include tablet {
        display: block;
    }
}