@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.text-right {
    text-align: right;
}

.about {
    width: 60%;
    margin: 0 auto;
    &__sections {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--right {
            text-align: right;
        }
    }
    &__img {
        width: 20rem;
    }
    &__text {
        width: 50%;
    }
    &__headers {
        margin-bottom: 1rem;
    }
    &__description {
        line-height: 1.5rem;
    }
}