@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.map-div {
    height: 20vh;
    width: 50%;
    margin: 0 auto;
    @include desktop {
        height: 23vh;
    }
}