.demo-green {
    color: white;
    background-color: rgba(0, 128, 0, 0.55);
    width: 20rem;
    border-radius: 20px;
}

.demo-red {
    color: white;
    background-color: rgba(255, 0, 0, 0.483);
    width: 20rem;
    border-radius: 20px;
}