@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.demo-green {
    color: white;
    background-color: rgba(0, 128, 0, 0.55);
    
    border-radius: 20px;
    border: 1px solid black;
    padding: 0.5rem;
    @include desktop {
        width: 20rem;
    }
}

.demo-red {
    color: white;
    background-color: rgba(255, 0, 0, 0.483);
    width: 20rem;
    border-radius: 20px;
    border: 1px solid black;
    padding: 0.5rem;
    @include desktop {
        width: 20rem;
    }
}

.washroom-reviews {
    background-color: $beige;
    width: 50vh;
    border: 1px solid black;
    @include desktop{
        width: 30rem;
    }
}