@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.icon {
	&-green {
		color: green;
	}
	&-red {
		color: red;
	}
}

.washroom-about {
	padding: 2rem;
	background-color: white;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	border-radius: 10px;
	&__top {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid rgba(128, 128, 128, 0.544);
		padding-bottom: 1rem;
		@include tablet {
			flex-direction: row;
			justify-content: space-between;
		}
		&-left {
		}
		&-right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	&__button {
		background-color: white;
		border: 1px solid $blue;
		border-radius: 4px;
		color: $blue;
		padding: 0.5rem 1rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		cursor: pointer;
		width: 10rem;
		margin: 1rem 0;

		@include tablet {
			margin: 0;
			width: auto;
		}
		&:hover {
			background-color: $blue;
			color: white;
		}
	}
	&__address {
		font-weight: 500;
	}
	&__location {
		font-weight: 700;
		color: $davys-gray;
		margin: 0.5rem 0;
	}
	&__rating {
		&-section {
			display: flex;
			align-items: center;
		}
		&-text {
			font-size: 0.8rem;
			@include tablet {
				margin-right: 0.5rem;
				font-size: 1rem;
			}
		}
	}
	&__bottom {
		padding-top: 1rem;
		display: flex;
		flex-direction: column;
		@include tablet {
			flex-direction: row;
			justify-content: space-between;
		}
		@include desktop {
			justify-content: flex-start;
		}
		&-left {
			@include desktop {
				margin-right: 12rem;
			}
		}
		&-right {
		}
	}
	&__criteria {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 0.2rem;
	}
	&__subheading {
		@include tablet {
			font-size: 1.2rem;
			width: 13rem;
		}
	}
	&__type {
		color: $davys-gray;
		@include tablet {
			margin-top: auto;
			margin-left: auto;
		}
	}
}
