@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.washroom-about {
	padding: 2rem;
	background-color: white;
	box-shadow: $box-shadow;
	border-radius: 10px;
	&__top {
		@include flex(column, flex-start, flex-start);
		border-bottom: 1px solid rgba(128, 128, 128, 0.544);
		padding-bottom: 1rem;
		@include tablet {
			@include flex(row, space-between, flex-start);
		}
		&-right {
			@include flex(column, space-between, space-between);
		}
	}
	&__button {
		padding: 0.5rem 1rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		cursor: pointer;
		width: 10rem;
		margin: 1rem 0;
		@include tablet {
			margin: 0;
			width: 9.5rem;
		}
	}
	&__address {
		font-weight: 500;
	}
	&__location {
		font-weight: 700;
		color: $davys-gray;
		margin: 0.5rem 0;
	}
	&__rating {
		&-section {
			display: flex;
			align-items: center;
		}
		&-text {
			font-size: 0.8rem;
			@include tablet {
				margin-right: 0.5rem;
				font-size: 1rem;
			}
		}
	}
	&__bottom {
		padding-top: 1rem;
		display: flex;
		flex-direction: column;
		@include tablet {
			flex-direction: row;
			justify-content: space-between;
		}
		@include desktop {
			justify-content: flex-start;
		}
		&-left {
			@include desktop {
				margin-right: 12rem;
			}
		}
	}
	&__criteria {
		@include flex(row, space-between, center);
		margin-bottom: 0.2rem;
		&--coordinates {
			@include tablet {
				@include flex(column, flex-start, flex-start)
			}
			@include desktop {
				@include flex(row, space-between, center);
			}
		}
	}
	&__subheading {
		@include tablet {
			width: 13rem;
			font-size: 1.2rem;
			&--coordinates {
				width: auto;
				@include desktop {
					width: 13rem;
					font-size: 1.2rem;
				}
			}
		}
	}
	&__type {
		color: $davys-gray;
		@include tablet {
			margin-left: auto;
		}
		@include desktop {
			margin-top: 4rem;
		}
	}
	&__coordinates {
		@include desktop {
			margin-left: auto;
		}
	}
}
